{% extends "base.html" %}

{% block title %}
    {{ lesson.title }}
{% endblock %}

{% block content %}
<div class="container">  
    <div class="lessons-header">
        <h1>{{ lesson.title }}</h1>
    </div>

    <p>{{ lesson.description }} </p>

    <div class="list-group materials-list">
        <div class="list-group-item list-group-item-secondary" aria-current="true">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <h5 class="mb-1">Materials</h5>
                <a class="btn btn-primary" href="{% url "create-material" lesson.slug %}" role="button">Add</a>
            </div>
        </div>
        {% for m in lesson.materials.all %}
        <a href="{{ m.get_absolete_url }}" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ m.title }}</h5>
            <small>{{ m.created_at }}</small>
          </div>
          <small>{{ m.material_type }}</small>
        </a>
        {% endfor %}
    </div>

    <div class="list-group comments">
        <div class="list-group-item list-group-item-secondary" aria-current="true">
            <div class="d-flex w-100 justify-content-between align-items-center">
                {% with lesson.comments.count as total_comments %}
                <h5 class="mb-1">Comments <span class="badge bg-danger rounded-pill">{{ total_comments }}</span></h5>
                {% endwith %}
            </div>
        </div>
        {% for c in lesson.comments.all %}
        <div class="list-group-item list-group-item-action" aria-current="true">
            <p class="mb-1">{{ c.body }}</p>
            <small>{{ c.created_by }} at {{ c.created_at }}</small>
        </div>
        {% empty %}
            <p>No comments.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}