{% extends "base.html" %}

{% block title %}
    {{ lesson.title }}
{% endblock %}

{% block content %}
    <h1>{{ lesson.title }}</h1>
    <p>{{ lesson.description }} </p>
    <h2>Materials:</h2>
    <p>
        <a href="{% url "create-material" lesson.slug %}">Add Material</a>
    </p>
    {% for m in lesson.materials.all %}
        <h3><a href="{{ m.get_absolete_url }}">{{ m.title }}</a> ({{ m.material_type }})</h3>
    {% endfor %}

    {% with lesson.comments.count as total_comments %}
        Total comments: {{ total_comments }}
    {% endwith %}

    {% for c in lesson.comments.all %}
        <p>Comment #{{ forloop.counter }} by {{ c.created_by }} at {{ c.created_at }}</p>
        {{ c.body }}
    {% empty %}
        No comments.
    {% endfor %}


{% endblock %}