{% extends "base.html" %}

{% block title %}
    All lessons
{% endblock %}

{% block content %}
    <div>
        <div class="lessons-header">
            <h1> List of my lessons </h1>
        </div>
        <div class="lessons-list">
            {% for l in lessons %}
            <div class="lesson">
                <h2 class="red-text">{{ l.title }}</h2>
                <p>{{ l.description }}</p>
                <a href="{{ l.get_absolete_url }}">link</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}